MONGO_URI=""
MONGO_DB_NAME=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="text-embedding-ada-002"

TEXT_EMBEDDING_AI="azure-openai"

# Only required when TEXT_EMBEDDING_AI="voyage"
VOYAGE_AI_EMBEDDING_MODEL="voyage-4-large"
AUTO_EMBED_COLLECTION="<your_collection_name>"